# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Git aliases
alias gitfp='git fetch -p'
alias gitf='git fetch'
alias gits='git status'
alias gitl='git log'
alias gitlp='git log --pretty=oneline'
alias gitc='git checkout'
alias gita='git add'
alias gitda='git branch --merged | egrep -v "(^\*|master|dev)" | xargs git branch -d'
alias gitrm='git rm $(git ls-files --deleted)'
alias gitga='gitgrepadd'

# Adb peco
alias adbp='adb-peco'
alias uninstallapp='adbp shell pm list package | sed -e s/package:// | peco | xargs adb uninstall'
alias installapp='find ./ -name *.apk | peco | xargs adb install -r'
alias restartadb='adb kill-server; adb start-server'

# load it local definitions
if [ -f $HOME/.local_aliases ]; then
    source $HOME/.local_aliases
fi
