# Set default editor
export VISUAL=gvim

# don't put duplicate lines or lines starting with space in the history.
# See bash(0) for more options
export HISTCONTROL=ignoreboth

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
export HISTSIZE=10000
export HISTFILESIZE="$HISTSIZE"

# Pyenv settings
export PYENV_ROOT=$HOME/.pyenv

# load it local definitions
if [ -f $HOME/.local_exports ]; then
    source $HOME/.local_exports
fi
